body {
    background: #f1f1f1;
    font-family: helvetice, sans-serif;
    margin: 0;
    width: 100%;
    padding: 0;
}

header {
    background: black;
    color: white;
    padding: 10px 20px;
}

span {
    font-size: 3em;
    font-weight: bold;
    padding: 10px 20px;
}

.container {
    text-align: right;
    margin-top: 15px;
}

.multi-level,
.item ul,
.nav input[type="checkbox"] {
    display: none;
}

#menu:checked~.multi-level,
.item input:checked~ul {
    display: block;
}

.arrow {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
}

.item input+.arrow {
    transform: rotate(-90deg);
    transition: 0.1s;
}

.item input:checked+.arrow {
    transform: rotate(0deg);
    transition: 0.1s;
}

label:hover {
    cursor: pointer;
}

label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}

.nav {
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    border-bottom: 1px solid #CFD8DC;
}

#nav-icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: white;
    background-color: #F4A336;
}

.nav ul,
.nav li,
label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
    width: 100%;
}

.item ul {
    padding: 0 0.25em;
}

.nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
    width: 100%;
}

.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "monserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
}

.btn1,
.btn2 {
    color: #3498db;
}

.btn1:hover,
.btn2:hover {
    color: #fff;
}

.btn1::before,
.btn2::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn1:hover::before,
.btn2:hover::before {
    height: 0;
}


/* login form */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('https://i.imgur.com/kk76J5I.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper .title h1 {
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form {
    display: flex;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

.msg textarea {
    height: 180px;
}

 ::-webkit-input-placeholder {
    color: #c5ecfd;
}

 ::-moz-placeholder {
    color: #c5ecfd;
}

 :-ms-input-placeholder {
    color: #c5ecfd;
}

.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .contact-form {
        flex-direction: column;
    }
    .msg textarea {
        height: 80px;
    }
    .input-fields,
    .msg {
        width: 100%;
    }
}